/*
    NAVIGATION.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.global-navigation {
	float: right;
}

//=========================================
//
//=========================================

.off-canvas-menu a {
	font-family: "Futura";
	text-transform: uppercase;
}