/*
    SOCIAL-NETWORKS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
	margin-top: -100px;

	@media #{$medium-up} {
	    position: absolute;
	    width: 100%;
	    // margin-top: -100px;
	}

	a {
		font-size: rem-calc(40);
		margin: rem-calc(0 2);
		// background

	}
}

//=========================================
//
//=========================================