{% assign settings = site.data.settings %}

<div class="row outer-row">
	<div class="large-9 columns">
		<div class="row">
			<div class="large-offset-1 columns">
				<!-- <ul class="lv-inline-list small-gaps has-dividers">
					<li><a href="{{settings.phone}}">phone {{settings.phone}}</a></li>
					<li><a href="{{settings.email_1}}">{{settings.email_1}}</a></li>
					<li><a href="{{settings.email_2}}">{{settings.email_2}}</a></li>
				</ul> -->
				<a href="{{settings.phone}}">phone {{settings.phone}} &nbsp; | &nbsp;</a>
				<a href="{{settings.email_1}}">{{settings.email_1}} &nbsp; | &nbsp;</a>
				<a href="{{settings.email_2}}">{{settings.email_2}}</a>
			</div>
		</div>
	</div>
</div> <!-- .outer-row -->

<!-- Footer Ring -->
<div class="footer-ring show-for-medium-up"></div>