{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="medium-10 large-5 columns">

        <!-- Logo -->
        <a class="logo animated bounceIn" href="#home" title="{{ settings.seo_title }}" itemprop="url">
            <img width="90" src="/img/content/logo.svg" alt="{{ settings.company_title }}" itemprop="logo">
        </a>

        <!-- Locations -->
        <ul class="locations show-for-medium-up">
            <li><span>Adelaide</span></li>
            <li><span>Australia</span></li>
            <li><span>Worldwide</span></li>
        </ul>

    </div>
    <div class="medium-2 large-7 columns">

        <!-- Global Navigation -->
        <nav class="global-navigation show-for-large-up">
            {% include navigation.html %}
        </nav>

    </div>

    <!-- Hamburger -->
    <div class="header-mobile-menu hide-for-large-up">
        <a href=""><span class="hamburger"><span class="hamburger-icon"></span></span></a>
    </div>

</div>