{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="medium-10 large-5 columns">

        <!-- Logo -->
        <a class="logo animated bounceIn" href="#home" title="{{ settings.seo_title }}" itemprop="url">
            <img width="90" src="/img/content/logo.svg" alt="{{ settings.company_title }}" itemprop="logo">
        </a>

        <!-- Locations -->
        <ul class="locations">
            <li><span>Adelaide</span></li>
            <li><span>Australia</span></li>
            <li><span>Worldwide</span></li>
        </ul>

    </div>
</div>