<ul class="lv-inline-list close-gaps text-center medium-text-right">
	<li><a href="{{ settings.email }}"><img width="30" src="/img/template/email-icon.svg"></a></li>
	<li><a href="{{ settings.vimeo }}"><img width="30" src="/img/template/blog-icon.svg"></a></li>
	<li><a href="{{ settings.vimeo }}"><img width="30" src="/img/template/vimeo-icon.svg"></a></li>
	<li><a href="{{ settings.twitter }}"><img width="30" src="/img/template/twitter-icon.svg"></a></li>
	<li><a href="{{ settings.facebook }}"><img width="30" src="/img/template/facebook-icon.svg"></a></li>
	<li><a href="{{ settings.instagram }}"><img width="30" src="/img/template/instagram-icon.svg"></a></li>
</ul>