<!-- Multi Award Winning -->
<section id="about-us" class="section">
	<div class="row outer-row">
		<div class="medium-12 large-8 medium-centered columns text-center">
			<h1>Multi award winning Karl, Dawn and their I Do Cinema dream team <br>capture the most breathtaking images of your <strong><em>Forever Dream Wedding.</em></strong> <br>Using revolutionary state of the art cinematography starring... the bride and groom!</h1>
		</div>
	</div>
</section>

<!-- Bio Section -->
<section class="section color-section">
	<div class="row outer-row">
		<div class="large-9 medium-centered columns">

			<!-- 50% Split Columns -->
			<div class="row">
				<div class="medium-6 columns">
					<div class="row">
						<div class="medium-3 columns">
							<img width="130" src="/img/content/karl@2x.jpg">
						</div>
						<div class="medium-9 columns">
							<h3>Karl Baroudi</h3>
							<p>Cinematographer<p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div> <!-- .columns -->
				<div class="medium-6 columns">
					<div class="row">
						<div class="medium-3 columns">
							<img width="130" src="/img/content/dawn@2x.jpg">
						</div>
						<div class="medium-9 columns">
							<h3>Dawn Baroudi</h3>
							<p>Cinematographer</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- .columns -->
	</div> <!-- .row -->
</section>

<!-- Contact Karl or Dawn -->
<section class="section">
	<div class="row">
		<div class="medium-9 medium-centered columns text-center">

			<div class="section-padding-bottom">
				<p><a href="#contact-us">Contact Karl or Dawn</a> for an appointment to view their latest work and to discuss your wedding dreams.</p>
			</div>

			<div class="pink-text">
				<p>Accreditation: Member of the ACS | Member of the AVPA | Member of the ABIA<br>
				2013 Winner ABIA “Excellence in Video Production (Previous Winners for; 2012, 2010, 2007, 2006 and 2005)</p>
			</div>

		</div>
	</div>
</section>