<section id="contact-us" class="section contact-section">
	<div class="row outer-row">
		<div class="large-9 columns">

			<div class="row">
				<div class="medium-6 medium-push-6 columns">

					<p class="lead">Contact Dawn or Karl for more details.</p>

					<p>
						Karl <a href="tel:{{ settings.mobile_karl }}">{{ settings.mobile_karl }}</a> /
						Dawn <a href="tel:{{ settings.mobile_karl }}">{{ settings.mobile_karl }}</a>
					</p>

					<p>
						<a href="tel:{{settings.phone}}">{{settings.phone}}</a> |
						<a href="tel:{{settings.email_1}}">{{settings.email_1}}</a> |
						<a href="tel:{{settings.email_2}}">{{settings.email_2}}</a>
					</p>

					<p>Or fill in our contact form on and we will<br> be in touch as soon as we can.</p>

				</div> <!-- .columns -->
				<div class="medium-6 medium-pull-6 columns">
					{% include simple_form_traditional.html %}
				</div>
			</div> <!-- .row -->

		</div> <!-- .columns -->
	</div> <!-- .outer-row -->
</section>