<section id="corporate" class="section corporate-section">
	<div class="row outer-row">
		<div class="medium-9 medium-centered columns text-center">
			<h2>I Do Cinema Corporate</h2>
			<p class="lead">Create unique cinematic TV commercials, online videos and promotional events tailored to your business needs. <br>Talk to our multi award winning dream team of dedicated professionals today.</p>
		</div>
	</div>

	<br>

	<!-- HORIZONTAL SLIDER -->
	<div class="row">
		<div class="small-12 medium-9 large-4 medium-centered columns">
			<div class="slider multiple-items">
				{% for i in (1..6) %}
					<div>
						<a class="popup-youtube" href="https://www.youtube.com/embed/De5UioK0qSc">
							<img width="100%" src="http://lorempixel.com/280/160/nature?{{i}}" alt="Alt Here">
							<h4 class="text-center">Jenna Marie MKR - Little Miss Cupcake</h4>
						</a>
					</div>
				{% endfor %}
			</div>
		</div> <!-- .columns -->
	</div> <!-- .row -->

	<!-- Swipe Hint Mobile -->
	<div class="text-center show-for-small-only">
		<img width="40" src="/img/ui/swipe-right.svg" alt="Swipe Right">
	</div>

</section>