<section id="corporate" class="section corporate-section">
	<div class="row outer-row">
		<div class="medium-9 medium-centered columns text-center">
			<h2>I Do Cinema Corporate</h2>
			<p>Create unique cinematic TV commercials, online videos and promotional events tailored to your business needs. <br>Talk to our multi award winning dream team of dedicated professionals today.</p>
			<p>Creative Directions | Cinematographers | Editors <br>
			<strong>Karl</strong> <a href="tel:{{settings.mobile_karl}}">{{settings.mobile_karl}}</a> &nbsp;&nbsp;&nbsp; <strong>Dawn</strong> <a href="tel:{{settings.mobile_dawn}}">{{settings.mobile_dawn}}</a>
			<br>
			<a href="{{settings.phone}}">{{settings.phone}}</a>&nbsp;&nbsp;&nbsp;
			<a href="{{settings.email_1}}">{{settings.email_1}}</a>&nbsp;&nbsp;&nbsp;
			<a href="{{settings.email_2}}">{{settings.email_2}}</a></p>
		</div>
	</div>

	<br>

	<!-- HORIZONTAL SLIDER -->
	<div class="row">
		<div class="small-12 medium-9 large-4 medium-centered columns">
			<div class="slider multiple-items">
				{% for i in (1..6) %}
					<div>
						<a class="popup-youtube" href="https://www.youtube.com/embed/De5UioK0qSc">
							<img width="100%" src="http://lorempixel.com/280/160/nature?{{i}}" alt="Alt Here">
							<h4>Jenna Marie MKR - Little Miss Cupcake</h4>
						</a>
					</div>
				{% endfor %}
			</div>
		</div> <!-- .columns -->
	</div> <!-- .row -->

	<!-- Swipe Hint Mobile -->
	<div class="text-center show-for-small-only">
		<img width="40" src="/img/ui/swipe-right.svg" alt="Swipe Right">
	</div>

</section>