<div id="home" class="hero">

	<!-- Awards -->
	<div class="awards show-for-medium-up">
		<div class="row outer-row">
			<div class="columns">
				<ul class="medium-block-grid-1">
					{% for i in (1..6) %}
						<li><a class="has-tip tip-right radius" title="This is a tiny tooltip" href="{{ settings.email }}" data-tooltip><img width="35" src="/img/content/award-1@2x.png"></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<!-- Social Networks -->
	<div class="social-networks">
		<div class="row outer-row">
			<div class="columns">
				{% include social_networks.html %}
			</div>
		</div>
	</div>

</div> <!-- .hero -->