<!-- HERO -->
<div class="hero">

	<!-- Awards -->
	<div class="awards show-for-medium-up">
		<div class="row outer-row">
			<div class="columns">
				<ul class="medium-block-grid-1">
					{% for i in (1..6) %}
						<li><a href="{{ settings.email }}"><img width="50" src="/img/content/award-1@2x.png"></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<!-- Social Networks -->
	<div class="social-networks">
		<div class="row outer-row">
			<div class="columns">
				<ul class="lv-inline-list close-gaps text-center medium-text-right">
					<li><a href="{{ settings.email }}"><img width="30" src="/img/template/email-icon@2x.png"></a></li>
					<li><a href="{{ settings.vimeo }}"><img width="30" src="/img/template/vimeo-icon@2x.png"></a></li>
					<li><a href="{{ settings.twitter }}"><img width="30" src="/img/template/twitter-icon@2x.png"></a></li>
					<li><a href="{{ settings.facebook }}"><img width="30" src="/img/template/facebook-icon@2x.png"></a></li>
					<li><a href="{{ settings.instagram }}"><img width="30" src="/img/template/instagram-icon@2x.png"></a></li>
				</ul>
			</div>
		</div>
	</div>

</div> <!-- .hero -->

