/*
    FOOTER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	padding: rem-calc(15 0 50 0);

	@media #{$medium-up} {
	    padding: rem-calc(15 0);
	}

	a {
		font-family: "Futura";
		font-size: rem-calc(16);
	}
}

//=========================================
//
//=========================================