/*
    FOOTER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	position: absolute;
	bottom: rem-calc(60);
	width: 100%;

	a {
		font-family: "Futura";
		font-size: rem-calc(16);
	}
}

//=========================================
//
//=========================================