---
layout: master
---

{% assign settings = site.data.settings %}

<!-- HERO -->
{% include sections/hero.html %}

<!-- ABOUT US -->
{% include sections/about_us.html %}

<!-- Divider -->
{% include divider.html %}

<!-- CINEMA -->
{% include sections/cinema.html %}

<!-- Divider -->
{% include divider.html %}

<!-- CORPORATE -->
{% include sections/corporate.html %}

<!-- Divider -->
{% include divider.html %}

<!-- RAVES -->
{% include sections/raves.html %}

<!-- Divider -->
{% include divider.html %}

<!-- CONTACT US -->
{% include sections/contact_us.html %}

<!-- SPLASH SCREEN -->
<section class="section image-section splash-screen"></section>