/*
    FORMS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.required {
	color: $alert-color;
}

form {
	@media #{$small-only} {
	    padding-top: rem-calc(30);
	}
}

form label {
	min-width: rem-calc(70);
}

//=========================================
//
//=========================================