/*
    MEDIA.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$gold-color: #C1AE9B;

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.lv-super .slick-slider {
	margin-bottom: 10px;
}

.lv-super .slick-slide {
	margin: 0 5px;
}
//-----------------------------------------------------------------
// Slider General
//-----------------------------------------------------------------

.lv-super .slick-next,
.lv-super .slick-prev {

	@media #{$small-only} {
	    display: none !important;
	}
	// background: aqua;
	height: 100%;
	top: 10px;
}

.lv-super .slick-next:before,
.lv-super .slick-prev:before {
	font-family: "FontAwesome";
	color: #F4ADCC;//$primary-color; //$gold-color;
	font-size: rem-calc(60);
	line-height: 50px;
}

.lv-super .slick-next {
	right: -40px;
}

.lv-super .slick-prev {
	left: -40px;
}

.lv-super .slick-next:before {
	content: "\f105"; // <
}

.lv-super .slick-prev:before {
	content: "\f104"; // >
}

//-----------------------------------------------------------------
// Horizontal Slider
//-----------------------------------------------------------------

.slider h4 {
	@extend .pink-text;
	color: #8A6D4D !important; // arg
}

//-----------------------------------------------------------------
// Gallery Slider
//-----------------------------------------------------------------

.gallery-slider .slick-next:before,
.gallery-slider .slick-prev:before {
	color: #F4ADCC;
}