/*
    SOCIAL-NETWORKS.CSS

    - Last updated: 17.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
    position: absolute;
    bottom: 25px;
    width: 100%;

    @media #{$medium-up} {
        bottom: 30px;
    }

	a {
		// font-size: rem-calc(40);
		margin: rem-calc(0 2);
	}
}

// .social-networks {
// 	margin-top: -100px;

// 	@media #{$medium-up} {
// 	    position: absolute;
// 	    // right: rem-calc(15);
// 	    width: 100%;
// 	    // margin-top: -100px;
// 	}

// 	a {
// 		font-size: rem-calc(40);
// 		margin: rem-calc(0 2);
// 		// background

// 	}
// }

//=========================================
//
//=========================================