/*
    TYPE.CSS

    - Last updated: 09.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

a {
	@include transition('color');
}

h3, h4, h5, h6 {
	color: $primary-color;
	font-family: $font-family-serif;
}

//=========================================
// Contexts
//=========================================

.contact-section h2 {
	font-size: rem-calc(48);
	color: $primary-color;
	margin-top: 0;
}

//=========================================
// Paragraphs
//=========================================

p.lead {
	font-size: $paragraph-font-size;

	@media #{$medium-up} {
	    font-size: rem-calc(25); //30
	}
}

//=========================================
// Pink Text
//=========================================

.gold-text,
.pink-text {
	font-family: $font-family-sans-serif;
	font-size: rem-calc(12);
	font-weight: normal;
	color: $primary-color;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	p {
		font-size: rem-calc(12); // fix
	}
}

.gold-text {
	font-size: $h2-font-size;
}
