/*
    HERO.CSS

    - Last updated: 17.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.hero {
	// position: relative; // this ruins the effect on mobile !!
	height: 100%;
	background: url(../img/template/IDC-ring-full@2x.png) no-repeat center;
	background-size: contain;

	// Ingenious fluke to perfectly center graphic on mobile
	@media #{$small-only} {
	    border-bottom: 50px solid white; // offset for ipad fix
	}

	@media #{$medium-up} and (min-height: 768px) {
		background-size: calc(1200px / 2); // image halved
	}
}

//=========================================
// Awards
//=========================================

.hero .awards {
	position: absolute;
	bottom: 30px;

	ul li {
		padding-bottom: 0;
	}
}