/*
    HERO.CSS

    - Last updated: 17.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.hero {
	position: relative;
	height: 100%;
	background: url(../img/template/IDC-ring-full@2x.png) no-repeat center;
	background-size: contain;

	@media #{$medium-up} and (min-height: 768px) {
		background-size: calc(1200px / 2); // image halved
	}
}

//=========================================
// Awards
//=========================================

.hero .awards {
	position: absolute;
	bottom: 30px;

	ul li {
		padding-bottom: 0;

		&:last-child {
			// margin-bottom: 0;
		}
	}
}

// Keep for reference..

// .hero .awards {
// 	.columns {
// 		position: relative;
// 		height: calc(90vh - 0px);

// 		@media #{$large-up} {
// 		    height: calc(100vh - 50px);
// 		}
// 	}

// 	ul {
// 		position: absolute;
// 		left: rem-calc(15);
// 		bottom: 0; // match social icons

// 		li {
// 			padding-bottom: 0;

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}
// }