/*
    HERO.CSS

    - Last updated: 17.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.hero {
	position: relative;
	height: 100vh;
	background: url(../img/template/IDC-ring-full@2x.png) no-repeat center;
	background-size: contain;

	// Ingenious fluke to perfectly center graphic on mobile
	@media #{$small-only} {
	    border-bottom: 50px solid white; // offset for ipad fix
	}

	@media #{$medium-up} {
	    background-size: rem-calc(565);
	}

	// On landscape tablet - shrink the image to fit height wise
	@media #{$medium-up} and (max-height: 768px) {
		background-size: rem-calc(575 / 1.3); //calc(1200px / 2); // image halved
	}
}

//=========================================
// Awards
//=========================================

.hero .awards {
	position: absolute;
	bottom: 30px;
	z-index: 1;

	ul li {
		padding-bottom: 0;
	}

	img {
		width: rem-calc(44);

		@media #{$large-up} {
		    width: rem-calc(35);
		}
	}
}