/*
    SECTIONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.section {
    position: relative;
	padding: rem-calc(30 0);

    @media #{$medium-up} {
        padding: rem-calc(60 0);
    }
}

.color-section {
    background: #EBEBEB;
}

.image-section {
	height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/content/newly-weds-bg.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    @media #{$large-up} {
        background-attachment: fixed; // issues on devices
    }
}

//=========================================
// All Gold
//=========================================

.corporate-section {
    color: $gold-color;

    @media #{$medium-up} {
        padding: rem-calc(128 0);
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        color: $gold-color;
    }
}

//=========================================
//
//=========================================